@page "/"
@inject ILocalStorageService localstorage
@inject AuthenticationStateProvider AutenticationStateProvider
@inject NavigationManager _nav
@using System.Security.Claims

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<AuthorizeView>
    <Authorized>
        loged in as @context.User.FindFirst(ClaimTypes.Name).Value
        <button type="button" class="btn btn-primary" @onclick="Logout">log out </button>
    </Authorized>
</AuthorizeView>
@code {
    private async Task Logout()
    {
        await localstorage.RemoveItemAsync("authToken");
        await AutenticationStateProvider.GetAuthenticationStateAsync();
        _nav.NavigateTo("");
    }
}