@page "/"
@inject ILocalStorageService localstorage
@inject AuthenticationStateProvider AutenticationStateProvider
@inject NavigationManager _nav


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

