@inject AuthenticationStateProvider _authenticationStateProvider
@page "/profile"

<p>@test</p>
@code {
    private string test;
    protected async override Task OnInitializedAsync()
    {
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        var UserId = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
        test = UserId;
    }

}