@page "/bankjob"
@inject IRequestService service
@inject AuthenticationStateProvider AutenticationStateProvider

@if (mission == null)
{
    <p> Loading mission Robbery</p>
}
else
{
    <AuthorizeView>
        <Authorized>

            <div class="col col-md-12">
                <MudPaper Class="pa-4 ma-1" Elevation="5">
                    <div>
                        <MudIcon Icon="@Icons.Custom.Uncategorized.Radioactive" Size="Size.Large" />
                    </div>

                    <p>Robbery Mission</p>

                    <MudRating MaxValue="4" SelectedValue="1" Disabled />
                    <MudProgressLinear Color="Color.Dark" Size="Size.Large" Value="80" />
                </MudPaper>
                <div class="col col-md-2">

                    <MudButton Variant="Variant.Filled" @onclick="DoHeist" StartIcon="@Icons.Custom.Uncategorized.Radioactive" Color="Color.Warning">Do Heist</MudButton>
                </div>

            </div>
        </Authorized>
        <NotAuthorized>
            <p>You need to login to access this page</p>
        </NotAuthorized>
    </AuthorizeView>


}


@code {
    private MissionDto mission;
    private CharacterDto Character;

    protected async override Task OnInitializedAsync()
    {
        var missions = await service.GetMissions();
        mission = missions.Where(x => x.Name.Equals("Robbery")).FirstOrDefault();

        var authstate = await AutenticationStateProvider.GetAuthenticationStateAsync();
        var user = authstate.User;
        var name = user.Identity.Name;
        if (name != null)
            Character = await service.GetCharacter(name);

    }
    private async void DoHeist()
    {
        Character.Money += mission.money;
        await service.UpdateCharacter(Character);

    }
}