@page "/createjob"
@inject IRequestService _service;

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
<MudThemeProvider Theme="_theme" />


<div class="col-md md-5">
    <MudTextField @bind-Value="newMission.Name" Label="Name" Variant="Variant.Text"></MudTextField>
    <MudNumericField @bind-Value="newMission.Money" Label="Money" Variant="Variant.Text" Min="0" Max="1000" />

</div>
<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Large" OnClick="@(() =>OnSubmit())">Save</MudButton>


@code {

    public MissionForCreateDto newMission = new();
    private MudTheme _theme = new();

    private async void OnSubmit()
    {
        
        var sent = await _service.CreateMission(newMission);
    }
}



