@inject ICharacterService Service
@inject AuthenticationStateProvider State

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WebbGame.Ui</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Weapon Shop
                    </NavLink>
                </div>
            </Authorized>

            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>

            </NotAuthorized>
        </AuthorizeView>


        @if (_createCharacter)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="createCharacter">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> CreateCharacter
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;
    private bool _createCharacter = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        var authstate = await State.GetAuthenticationStateAsync();
        var user = authstate.User;
        var characters = await Service.GetCharacters();

        var exist = characters.FirstOrDefault(x => x.UserEmail.Equals(user.Identity.Name));
        if (exist != null)
            _createCharacter = false;

    }

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}